.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5rem;
  background-color: #e0f8fc;
  margin: auto;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 0.5rem;
  font-weight: bold;
}
.scoreboard:hover {
  background-color: #afe8f0;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

.x-score {
  color: #b91c1c;
  border-bottom: 5px solid #b91c1c;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.o-score {
  color: #2563eb;
  border-bottom: 5px solid #2563eb;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inactive {
  border-bottom: 5px solid transparent;
}
